# Exploratory Data Analysis of Video Game Data

In [1]:
import pandas as pd
from pathlib import Path
import seaborn as sns
import matplotlib.pyplot as plt

import requests
import numpy as np
import pandas_profiling

# I. Steam Purchase Data

Note: Hours column is all 1's, we're going to use this df to see game popularity by number of steam purchases, and later check if this matches up with data from other data sets.

In [2]:
purchase = pd.read_csv("./csv_files/steam_data_purchase_clean.csv")

In [3]:
purchase.head()

   Unnamed: 0     UserID                        Game Purchase/Play  Hours
0           0  151603712  The Elder Scrolls V Skyrim      purchase    1.0
1           2  151603712                   Fallout 4      purchase    1.0
2           4  151603712                       Spore      purchase    1.0
3           6  151603712           Fallout New Vegas      purchase    1.0
4           8  151603712               Left 4 Dead 2      purchase    1.0

In [5]:
purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129511 entries, 0 to 129510
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     129511 non-null  int64
 1   UserID         129511 non-null  int64
 2   Game           129511 non-null  object
 3   Purchase/Play  129511 non-null  object
 4   Hours          129511 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.9+ MB

In [6]:
purchase.describe()

          Unnamed: 0        UserID     Hours
count  129511.000000  1.295110e+05  129511.0
mean   100570.109543  1.024447e+08       1.0
std     57861.036058  7.236442e+07       0.0
min         0.000000  5.250000e+03       1.0
25%     50621.000000  4.550738e+07       1.0
50%    100444.000000  8.605570e+07       1.0
75%    151057.000000  1.542307e+08       1.0
max    199998.000000  3.099031e+08       1.0

In [10]:
purchase['Game'].value_counts()

Dota 2                              4841
Team Fortress 2                     2323
Unturned                            1563
Counter-Strike Global Offensive     1412
Half-Life 2 Lost Coast               981
                                    ...
iBomber Attack                         1
The Dreamatorium of Dr. Magnus 2       1
Verde Station                          1
TRIP Steam Edition                     1
Executive Assault                      1
Name: Game, Length: 5155, dtype: int64

In [13]:
len(pd.unique(purchase['Game']))

5155